#1 Redirect https URLs to https


#2 Redirect non www URLs to www & vice versa
#3 Removing Trailing Slash From URLs
#4 Redirecting one url to another url
#5 Creating SEO Friendly urls
#6 Setting custom 404 page
#7 increasing the speed of website